@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c2b47;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px;
    background: var(--clr-main);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo h2 {
    color: var(--clr-botones);
    font-size: 40px;
    margin: 25px;
    font-weight: 300;
}

.lista ul{
    display: flex;
    gap: 10px;
}

.lista ul li {
    width: 100px;
    list-style-type: none;
    margin: 25px;
}

.lista ul li a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: 20px;
}

.lista ul li a:hover {
    color: var(--clr-botones);
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: var(--clr-white);
    cursor: pointer;
    display: none;
}

/* Styles section home */

#home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    background-color: #3d3c5e;
}

.cover-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cover-left h1 {
    font-size: 5rem;
    color: var(--clr-botones);
}

.cover-left p {
    font-size: 2rem;
    color: var(--clr-white);
}

.cover-left button {
    width: 30%;
    height: 7%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--clr-botones) 40%, #8a3313);
    color: var(--clr-white);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}

.cover-left button:hover {
    box-shadow: 0 0 30px var(--clr-botones);
    background: linear-gradient(to bottom right, #8a3313, var(--clr-botones) 40%);
    cursor: pointer;
}

.cover-right {
    width: 50%;
    display: grid;
    place-items: center;
}

.cover-right img{
    width: 400px;
    height: 400px;
    animation: movimiento 2.5s linear infinite;
}

/* Styles section about */
#about {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
}

.div-left {
    width: 50%;
    display: grid;
    place-items: center;
}

.div-left img {
    width: var(--width-img);
    height: var(--height-img);
}

.div-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 40px;
}

.div-right h3 {
    color: var(--clr-botones);
    font-size: 1.5rem;
}

.div-right .big-text {
    font-size: 3.5rem;
    color: var(--clr-white);
}

.div-right .small-text {
    font-size: 1.2rem;
    color: var(--clr-white);
}

.div-right button {
    width: 20%;
    height: 7%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--clr-botones) 40%, #8a3313);
    color: var(--clr-white);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}

.div-right button:hover {
    box-shadow: 0 0 30px var(--clr-botones);
    background: linear-gradient(to bottom right, #8a3313, var(--clr-botones) 40%);
    cursor: pointer;
}

/* Styles section food menu */
#menu {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #3d3c5e;
}

.above {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.above h3 {
    color: var(--clr-botones);
    font-size: 1.5rem;
}

.above p {
    color: var(--clr-white);
    font-size: 2rem;
}

.catalogo {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background-color: var(--clr-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image img {
    width: 250px;
    height: 250px;
    padding: 8px;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.btn {
    display: block;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #23527c;
}
/* Styles section services */
#services {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 2rem;
}

.div-title-services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.div-title-services h3{
    color: var(--clr-botones);
    font-size: 2rem;
}

.div-title-services p {
    color: var(--clr-white);
    font-size: 2.5rem;
}

.images-services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.imagen-text {
    width: 33.3%;
}

.imagen-text img {
    width: 250px;
    height: 250px;
}

.text {
    padding: 20px;
}

.text h3 {
    color: var(--clr-botones);
    font-size: 2.5rem;
    text-align: center;
}

.text p {
    color: var(--clr-white);
    font-size: 1.5rem;
    text-align: center;
}

/* Styles quality section */

#quality {
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3c5e;
}

.white-container {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height: 300px;
    width: 80%;
    background: var(--clr-white);
    display: flex;
    justify-content: center;
}

.inside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.inside-container h2 {
    font-size: 3rem;
}

.inside-container button {
    width: 20%;
    height: 15%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--clr-botones) 40%, #8a3313);
    color: var(--clr-white);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}

.inside-container button:hover {
    box-shadow: 0 0 30px var(--clr-botones);
    background: linear-gradient(to bottom right, #8a3313, var(--clr-botones) 40%);
    cursor: pointer;
}

/* Styles footer */

#footer {
    background-color: #1c1b2f;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.menu-links h3 {
    color: var(--clr-botones);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}

.menu-links p {
    color: var(--clr-white);
    font-size: 1.2rem;
}

.our-service h3 {
    color: var(--clr-botones);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}

.our-service p {
    color: var(--clr-white);
    font-size: 1.2rem;
}

.information h3 {
    color: var(--clr-botones);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}

.information p {
    color: var(--clr-white);
    font-size: 1.2rem;
}

.contact-us h3 {
    color: var(--clr-botones);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}

.burbuja {
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: 0;
    
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.burbuja:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.burbuja:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.burbuja:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 80%;
    animation-duration: 5s;
    animation-delay: 1s;
}


@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Responsive Design */

@media (max-width: 400px) {

    .lista {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .lista ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: var(--clr-main);
        text-align: center;
        z-index: 1;
        border: 1px solid white;
    }

    .checkbtn {
        display: block;
        cursor: pointer;
    }

    #check:checked ~ .lista ul {
        display: flex;
    }

    .lista ul li {
        margin: 0;
        width: 100%;
    }

    .lista ul li a {
        padding: 15px;
        display: block;
    }

    /* Section home responsive */

    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100vh;
    }

    .cover-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .cover-left h1 {
        font-size: 3rem;
    }

    .cover-left button {
        height: 40px;
        width: 130px;
    }

    .cover-right {
        width: 100%;
    }

    .cover-right img {
        width: 300px;
        height: 300px;
    }

    /* Section about responsive */

    #about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .div-left {
        width: 100%;
    }

    .div-left img {
        width: 300px;
        height: 300px;
    }

    .div-right {
        width: 100%;
    }

    .div-right .big-text {
        font-size: 2rem;
    }

    .div-right .small-text {
        font-size: 1rem;
    }

    .div-right button {
        width: 130px;
        height: 40px;
    }

    /* Section menu resposive */
    #menu {
        flex-direction: column;
        gap: 2rem;
        height: 1222px;
    }

    .above {
        text-align: center;
    }

    .catalogo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-image {
        display: grid;
        place-items: center;
    }

    .card-image img {
        width: 200px;
        height: 200px;
    }

    /* Section services responsive */

    #services {
        height: 1740px;
    }

    .images-services-container {
        flex-direction: column;
        gap: 2rem;
    }

    .imagen-text {
        width: 100%;
        gap: 1rem;
    }

    .imagen-text .text {
        padding: 40px;
    }

    .imagen-text img {
        width: 200px;
        height: 200px;
    }

    /* Section quality responsive */

    #quality {
        margin: 0;
    }

    .inside-container h2 {
        font-size: 2rem;
        text-align: center;
    }

    .inside-container button {
        width: 30%;
    }

    /* Footer responsive */

    #footer {
        margin: 0;
    }

    .footer-container {
        flex-direction: column;
        padding: 20px;
    }

    .menu-links h3 {
        width: 170px;
    }

    .our-service h3 {
        width: 182px;
    }

    .information h3 {
        width: 190px;
    }

    .contact-us h3 {
        width: 178px;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    nav {
        width: 100%;
        justify-content: space-between;
    }

    .lista {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .lista ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: var(--clr-main);
        text-align: center;
        z-index: 1;
        border: 1px solid white;
    }

    .checkbtn {
        display: block;
        cursor: pointer;
    }

    #check:checked ~ .lista ul {
        display: flex;
    }

    .lista ul li {
        margin: 0;
        width: 100%;
    }

    .lista ul li a {
        padding: 15px;
        display: block;
    }
    /* Section home responsive */
    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100vh;
    }

    .cover-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .cover-left h1 {
        font-size: 3rem;
    }

    .cover-left button {
        height: 40px;
        width: 130px;
    }

    .cover-right {
        width: 100%;
    }

    .cover-right img {
        width: 300px;
        height: 300px;
    }
    /* Section about responsive */
    #about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 700px;
    }

    .div-left {
        width: 100%;
    }

    .div-left img {
        width: 300px;
        height: 300px;
    }

    .div-right {
        width: 100%;
    }

    .div-right .big-text {
        font-size: 2rem;
    }

    .div-right .small-text {
        font-size: 1rem;
    }

    .div-right button {
        width: 130px;
        height: 40px;
    }

    /* Section menu resposive */
    #menu {
        flex-direction: column;
        gap: 2rem;
        height: 1222px;
    }

    .above {
        text-align: center;
    }

    .catalogo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-image {
        display: grid;
        place-items: center;
    }

    .card-image img {
        width: 200px;
        height: 200px;
    }

    /* Section services responsive */

    #services {
        height: 1742px;
    }

    .images-services-container {
        flex-direction: column;
        gap: 2rem;
    }

    .imagen-text {
        width: 100%;
        gap: 1rem;
    }

    .imagen-text .text {
        padding: 40px;
    }

    .imagen-text img {
        width: 200px;
        height: 200px;
    }

    /* Section quality responsive */

    #quality {
        margin: 0;
    }

    .inside-container h2 {
        font-size: 2rem;
        text-align: center;
    }

    .inside-container button {
        width: 30%;
    }

    /* Footer responsive */

    #footer {
        margin: 0;
    }

    .footer-container {
        flex-direction: column;
        padding: 20px;
    }

    .menu-links h3 {
        width: 170px;
    }

    .our-service h3 {
        width: 182px;
    }

    .information h3 {
        width: 190px;
    }

    .contact-us h3 {
        width: 178px;
    }
}

@media (min-width: 800px) and (max-width: 1200px){

    .lista ul {
        margin-right: 10px;
    }

    .lista ul li {
        width: 40px;
    }

    .lista ul li a {
        font-size: 18px;
    }

    .cover-left {
        text-align: center;
    }

    .inside-container {
        text-align: center;
    }

    #about {
        height: 700px;
    }

    .div-right .big-text {
        font-size: 2.5rem;
    }

    .div-right button {
        width: 30%;
    }

    #menu {
        height: 922px;
    }

    #services {
        height: 700px;
    }

    .menu-links h3 {
        font-size: 25px;
    }

    .our-service h3 {
        font-size: 25px;
    }

    .information h3{
        font-size: 25px;
    }

    .contact-us h3 {
        font-size: 25px;
    }
}