@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: var(--color-ternario);
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo h2 {
    color: var(--color-primario);
    font-size: 40px;
    margin: 25px;
    font-weight: 300;
}
.lista ul {
    display: flex;
    gap: 10px;
}
.lista ul li {
    width: 100px;
    list-style-type: none;
    margin: 25px;
}
.lista ul li a {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 20px;
}
.lista ul li a:hover {
    color: var(--color-primario);
}
#check {
    display: none;
}
.checkbtn {
    font-size: 30px;
    color: var(--color-secundario);
    cursor: pointer;
    display: none;
}


/* Home */
#home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
}
.cover-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: 250px;
    right: -90px;
}
.cover-left h1 {
    font-size: 5rem;
    color: var(--color-primario);
}
.cover-left p {
    font-size: 2rem;
    color: var(--color-secundario);
}
.cover-left button {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--color-primario) 40%, #8a3313);
    color: var(--color-secundario);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}
.cover-left button:hover {
    box-shadow: 0 0 30px var(--color-primario);
    background:linear-gradient(to bottom right, #8a3313, var(--color-primario) 40%); ;
    cursor: pointer;
}
.cover-right {
    width: 50%;
    display: grid;
    place-items: center;
}
.cover-right img {
    width: var(--width-img);
    height: var(--height-img);
    animation: movimiento 2.5s linear infinite;
    position: relative;
    top: -60px;
    right: -800px;
}


#about {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
}
.div-left {
    width: 50%;
    display: grid;
    place-items: center;
}
.div-left img {
    width: var(--width-img);
    height: var(--height-img);
    position: relative;
    top: 250px;
}
.div-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 40px;
    position: relative;
    top: -200px;
    right: -720px;
}
.div-right h3 {
    color: var(--color-primario);
    font-size: 1.5rem;
}
.div-right .big-text {
    font-size: 3.5rem;
    color: var(--color-secundario);
}
.div-right .small-text {
    font-size: 1.2rem;
    color: var(--color-secundario);
}
.div-right button {
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--color-primario) 40%, #8a3313);
    color: var(--color-secundario);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}
.div-right button:hover {
    box-shadow: 0 0 30px var(--color-primario);
    background: linear-gradient(to bottom right, #8a3313, var(--color-primario) 40%);
    cursor: pointer;
}




#menu {
    height: calc(100vh -100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-primario);
}
.above {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.above h3 {
    color: var(--color-primario);
    font-size: 1.5rem;
}
.above p {
    color: var(--color-secundario);
    font-size: 2rem;
}
.catalogo {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card {
    width: 250px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}
.card-image img {
    width: 250px;
    height: 250px;
    padding: 8px;
}
.card-content {
    padding: 10px;
}
.card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.btn {
    display: block;
    background-color: #337ab7;
    color: var(--color-secundario);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s easy-in-out;
}
.btn:hover {
    background-color: #23527c;
}



/* Services */
#Services {
    height: calc(100vh -100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 2rem;
}
.todo {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.div-title-services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.div-title-services h3 {
    color: var(--color-primario);
    font-size: 2rem;
}
.div-title-services p {
    color: var(--color-secundario);
    font-size: 2.0rem;
}
.images-services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.imagen-text {
    width: 33%;
    flex-direction:column-reverse;
}
.imagen-text img {
    width: 250px;
    height: 250px;
}
.text {
    padding: 20px;
    color: var(--color-secundario);
}
.text h3 {
    color: var(--color-primario);
    font-size: 1.5rem;
    text-align: center;
}
.text p {
    color: var(--color-secundario);
    font-size: 1.1rem;
    text-align: center;
}



/* quality 5to */
#quality {
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3c5e;
}
.white-container {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height:300px ;
    width: 80%;
    background: var(--color-secundario);
    display: flex;
    justify-content: center;
}
.inside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.inside-container h2 {
    font-size: 3rem;
}
.inside-container button {
    width: 20%;
    height: 15%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--color-primario) 40%, #8a3313);
    color: var(--color-secundario);
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}
.inside-container button:hover {
    box-shadow: 0 0 30px var(--color-primario);
    background: linear-gradient(to botton right, #8a3313, var(--color-primario) 40%);
    cursor: pointer;
}



/* footer */
#footer {
    background-color: #1c1b2f;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.menu-links h3 {
    color: var(--color-primario);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}
.menu-links p {
    color: var(--color-secundario);
    font-size: 1.2rem;
}
.Our-Service h3 {
    color: var(--color-primario);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}
.Our-Service p {
    color: var(--color-secundario);
    font-size: 1.2rem;
}
.Information h3 {
    color: var(--color-primario);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}
.Information p {
    color: var(--color-secundario);
    font-size: 1.2rem;
}
.Contact-Us h3 {
    color: var(--color-primario);
    font-size: 2rem;
    border-bottom: 1px solid;
    font-weight: 400;
}

.bolita1,
.bolita2,
.bolita3,
.bolita4 {
    border-radius: 50%;
    color: var(--color-primario);
}



.burbujas {
    
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: 0;
    
    animation: burbujas 3s linear infinite;
}

.burbujas:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(2):nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.burbujas:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.burbujas:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.burbujas:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 80%;
    animation-duration: 5s;
    animation-delay: 1s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}  





