:root {
    --color-primario: #e3cfff;
    --color-secundario: #ffc6cd;
    --color-ternario: #ffecb3;
    --color-cuarto: #b2f3e7;
    --color-quinto: #b9e1ff;
    --color-sexto: #2c2b47;
    --color-septimo: #ff7632;
}