:root {
    --color-primario: #e3cfff;
    --color-secundario: #ffb8c0;
    --color-ternario: #ffecb3;
    --color-cuarto: #006905;
    --color-quinto: #b9e1ff;
    --color-sexto: #2c2b47;
    --color-septimo: #ff7632;
}